sudo: required
dist: xenial

language: c

compiler:
  - gcc
  - clang

install:
  - sudo apt-get install -y build-essential fakeroot debhelper
  - sudo apt-get install -y libtool libtool-bin

script:
  # Build the package.
  - (cd pkg && make deb)
  # Run the unit tests.
  - (cd src && make clean && make tests)
  # Run the stress test (non-DEBUG for high concurrency).
  - (cd src && make clean && make stress)
  # Run the stress test (DEBUG with ASAN enabled).
  - (cd src && make clean && DEBUG=1 make stress)
